<html lan="en">
	<head>
    		<title>
     			NeverLate! - Architecture
    		</title>
	
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		
		<link href="static/css/customized-navbar-2.css" rel="stylesheet">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	</head>
	
	<body>
        <!-- Fixed navbar -->
		<nav class="navbar navbar-custom navbar-fixed-top">
      			<div class="container">
        			<div class="navbar-header">
        				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            					<span class="sr-only">Toggle navigation</span>
            					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
          				</button>
          				<a class="navbar-brand" href="">NeverLate</a>
        			</div>
        			<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
	            				<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('index') }}#news">News</a></li>
        	    				<li><a href="{{ url_for('index') }}#contacts">Contacts</a></li>
            					<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Learn More<span class="caret"></span></a>
    							<ul class="dropdown-menu" role="menu">
    								<li><a href="{{ url_for('vision') }}">Our Vision</a></li>
    								<li role="presentation" class="divider"></li>
    								<li><a href="{{ url_for('requirements') }}">Requirements</a></li>
    								<li role="presentation" class="divider"></li>
    								<li><a href="#">Architecture</a></li>
    							</ul>
						</li>
            				</ul>
					<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
    							<ul class="dropdown-menu" role="menu">
    								<li><a href="{{ url_for('login') }}">Students</a></li>
    								<li role="presentation" class="divider"></li>
    								<li><a href="{{ url_for('prof_login') }}">Professors</a></li>
    							</ul>
        					<li><a href="{{ url_for('registration') }}" class="btn btn-primary btn-xs">Register New Product</a></li>
					</ul>
        			</div>
      			</div>
   		</nav>
   		
   		
		<div class="jumbotron">
			<div class="container">
        			<h1 class="text-center">Architecture</h1>	
			</div>
    		</div>


    	<!-- Marketing messaging and featurettes ================================================== -->
    	<!-- Wrap the rest of the page in another container to center all the content. -->
    	<blockquote>

      		<!-- Two columns of text below -->
      		<div class="row">
    			<div class="col-md-1"></div>
        			<div class="col-md-4">
          				<img class="img-circle center-block" src="static/immagini/logos/GitHub.png" alt="Generic placeholder image" width="140" height="140">
          				<h2 class="text-center">Software</h2>
          				<p class="text-center">All the code is stored in a GitHub repository.</p>
          				<p class="text-center">Now is private but we are going to publish it as soon as possible.</p>
          				<p><a class="btn btn-default center-block" href="#software" role="button">View details &raquo;</a></p>
        			</div><!-- /.col-lg-4 -->
        			<div class="col-md-2"></div>
        			<div class="col-md-4">
          				<img class="img-circle center-block" src="static/immagini/logos/Hardware.png" alt="Generic placeholder image" width="140" height="140">
          				<h2 class="text-center">Hardware</h2>
          				<p class="text-center">We didn't build anything but we know how to use some good items already on the market</p>
          				<p class="text-center">Discover how!</p>
          				<p><a class="btn btn-default center-block" href="#hardware" role="button">View details &raquo;</a></p>
        			</div><!-- /.col-lg-4 -->
        		<div class="col-md-1"></div>
      		</div><!-- /.row -->
			
		<br>
		<br>
			
		<div class="center-block">
   			<img class="center-block img-responsive" src="static/immagini/Architecture_scheme.png">
   		</div>
			
			
		<h1 id="hardware" class="page-header">Hardware</h1>
		<div class="row">
				<div class="col-md-6">
					<h1>Components</h1>
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">Smartphone.<span class="text-muted"> Only Android is supported.</span></h2>
							<p class="lead">NeverLate will work just on Android-based smartphones starting by Ice Cream Sandwich (4.0).</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/android.jpg" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>

					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">Pebble Smartwatch.<span class="text-muted"> How neverlate will talk to you.</span></h2>
							<p class="lead">It is the Classic version of the Pebble smartwatch, until now is the unique smartwatch supported.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/pebble.jpg" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
						
					<hr class="featurette-divider">
				
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">OpenShift.<span class="text-muted"> We are working on that.</span></h2>
							<p class="lead">It seems to be the python web host we are looking for but it is hard to understand, maybe it will be substituted in the future.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/OpenShift.png" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>
      				
				</div>
				
				<div class="col-md-6">
					<h1>Architecture</h1>
					<br>
					<h2>Central server(OpenShift):</h2>
						<ul>
							<li class="lead">Always-on system</li>
							<li class="lead">Data storage and processing</li>
							<li class="lead">NeverLate website hosting</li>
						</ul>
						
					<h2>Smartphone</h2>
						<ul>
							<li class="lead">It acts as sensor by sensing the wi-fi signals in the ambient, and measures the between checkpoints travel times.</li>
							<li class="lead">It act as a bridge between the server and the smart watch.</li>
							<li class="lead">It’s the device with the most intelligence in this system.</li>
						</ul>
						
					<h2>Smartwatch (Pebble)</h2>
						<ul>
							<li class="lead">It’s the device that does the the acting by giving the notifications to the user.</li>
							<li class="lead">It acts as a user interface by giving the possibility to the professors to launch the “ping” function and to every user to send small real-time notification preferences.</li>
						</ul>
				</div>
			</div>
			
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
		</footer>
			
		<br>
		<br>
			
		<h1 id="software" class="page-header">Software</h1>
		<div class="row">
				<div class="col-md-6">
					<h1>Components</h1>
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">Java.<span class="text-muted"> The code for Android applications.</span></h2>
							<p class="lead">Java is the magic between the Pebble smartwatch and your smartphone.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/java.png" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>

					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">SQLite.<span class="text-muted"> MySQL little brother.</span></h2>
							<p class="lead">It is a lighter version of MySQL. Basically it need less computational power.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/SQLite.jpeg" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
						
					<hr class="featurette-divider">
				
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">Google Cloud Messaging.<span class="text-muted"> Internal service.</span></h2>
							<p class="lead">The service provides a simple, lightweight mechanism that servers can use to tell mobile applications to contact the server directly, to fetch updated application or user data.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/Google-Cloud-Messaging.jpg" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>
					
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">Python.<span class="text-muted"> Easy and high level magic.</span></h2>
							<p class="lead">The web server is based on this programming language.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/Python.png" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
						
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">MySQL.<span class="text-muted"> The Database.</span></h2>
							<p class="lead">It is how we store the data in the central server.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/SQL.png" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>
					
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">Bootstrap.<span class="text-muted"> They are famous for twitting, but they can roar too.</span></h2>
							<p class="lead">It is the Asterix & Obelix magic potion. Thanks to bootstrap we made this site, we hope, more user friendly.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/bootstrap.png" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
						
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">JQuery.<span class="text-muted"> Simply dinamics.</span></h2>
							<p class="lead">Thanks to JQuery we managed animate some parts of our pages without writing complex JavaScript code.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/jquery.jpg" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>
					
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">Flask.<span class="text-muted"> Life to HTML.</span></h2>
							<p class="lead">We used it as a python extension, when the web server will be online it will render HTML pages.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/flask.jpg" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
						
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">CSS.<span class="text-muted"> Classy dress for HTML.</span></h2>
							<p class="lead">We used it to modify what bootstrap offered us, mostly colors and some page elements dimensions.</p>
						</div>
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/css.jpg" style="max-height: 200px" style="max-width: 200px" alt="Generic placeholder image">
						</div>
					</div>
					
					<hr class="featurette-divider">
					
					<div class="row featurette">
						<div class="col-md-7 col-md-push-5">
							<h2 class="featurette-heading">API.<span class="text-muted"> Fundamental external code.</span></h2>
							<p class="lead">We used Politecnico API for the timetables, Json API (in different parts) to let different programming languages speak to each other.</p>
						</div>
						<div class="col-md-5 col-md-pull-7">
							<img class="featurette-image img-responsive center-block" src="static/immagini/logos/json.jpg" alt="Generic placeholder image" style="max-height: 200px" style="max-width: 200px">
						</div>
					</div>
      				
				</div>
				
				<div class="col-md-6">
					<h1>Architecture</h1>
					<br>
					<h2>Mobile application:</h2>
						<ul>
							<li class="lead">Provides connection between the smartwatch and the smartphone. It interacts with the smartwatch by sending notifications and receiving user inputs.</li>
							<li class="lead">Locates the user with a “minimum-distance” algorithm based on wifi access point scans</li>
							<li class="lead">Sends notifications to the user according to his position and the estimated travel time for his next destination, taken from a local lectures calendar. Moreover, it also take into account some user notification preferences.</li>
							<li class="lead">Syncs local database with the remote version on the server. (Custom Json API for databases). The local database (SQLlite) contains all the info for locating the user inside Politecnico and the estimated travel times between checkpoints.</li>
							<li class="lead">Syncs local calendar with user lecture schedule (Politecnico Json APIs).</li>
							<li class="lead">It measure the travel time between checkpoints and send it to the central server.</li>
							<li class="lead">Student Version: Listen for incoming Professor’s messages and/or updates (Google Cloud Messaging), and change local notification calendar accordingly.</li>
							<li class="lead">Professor Version: Send messages to the Web Server to signal the student clients the exact start time of a lecture (Google Cloud Messaging).</li>
							<li class="lead">Almost no UI, except from one very simple activity that prints system status messages and provides short link for the settings web page.</li>
						</ul>
						
					<h2>Web site (on Central Server)</h2>
						<ul>
							<li class="lead">User’s settings on the calendar and notifications.</li>
						</ul>
						
					<h2>Web server (on Central Server)</h2>
						<ul>
							<li class="lead">
								It host a MySQL database. In particular:<br>
								<ul>
									<li>It hosts data of the travel times between checkpoints (a weighted graph)</li>
									<li>It hosts a table containing the MAC addresses of the largest number possible of Politecnico wifi access points.</li>
									<li>It hosts a table that shows for every checkpoint a list of associated (MAC access point - measured power level) pairs.</li>
									<li>It hosts a table with all the users settings.</li>
								</ul>
							</li>
							<li class="lead">It receives time measures from all the clients, and it process them in order to give a good statistic  estimation of travel time between checkpoints. It saves the estimated values on the appropriate database table. (Custom Json API)</li>
							<li class="lead">It host NeverLate webpage, accessible for user settings. (Flask)</li>
							<li class="lead">It implements a Google Cloud Messaging service to receive “ping” messages from professors and to submit to the interested clients.</li>
							<li class="lead">It will manage calendar updates from teacher and will change the students calendars accordingly.</li>
						</ul>
						
					<h2>Smartwatch Application (Pebble API on Android Smartphone)</h2>
						<ul>
							<li class="lead">It interacts with the mobile phone and gives notifications to the user when the mobile gives the command to do so. (Pebble API for Android)</li>
							<li class="lead">Tap function: by tapping on the screen the user sees how much time is left before the next notification. The watch will get this information by asking the mobile phone.</li>
							<li class="lead">Ping Function: by interacting with the smart-watch teachers will be able to send a “ping” message to the students of his lesson. This request has to be passed from the watch to the mobile phone to the central server.</li>
						</ul>
				</div>
			</div>
			
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
		</footer>
	</blockquote>
      	<!-- /END THE FEATURETTES -->

    	</div><!-- /.container -->
   	</body>
</html>
